<div class="modal search-filter" id="search-filter" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-title">
        <h3 class="fw-semibold">Filtros</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <section class="section-b-space pt-0">
        <div class="custom-container">
          <ul class="payment-card-box search-categories">
            <li class="mt-0">
              <div class="payment-detail">
                <div class="add-img">
                  <img class="img-fluid img" src="assets/images/svg/truck.svg" alt="entrega" />
                </div>
                <div class="form-check radio-btn">
                  <label class="form-check-label" for="btn-1">Entrega rápida</label>
                  <input class="form-check-input" type="radio" name="deliveryFilter" id="btn-1" checked />
                </div>
              </div>
            </li>
            <li class="mt-0">
              <div class="payment-detail">
                <div class="add-img">
                  <img class="img-fluid img" src="assets/images/svg/location.svg" alt="ubicación" />
                </div>
                <div class="form-check radio-btn">
                  <label class="form-check-label" for="btn-2">Comercios cerca de mí</label>
                  <input class="form-check-input" type="radio" name="deliveryFilter" id="btn-2" />
                </div>
              </div>
            </li>
            <li class="mt-0">
              <div class="payment-detail">
                <div class="add-img">
                  <img class="img-fluid img" src="assets/images/svg/summary.svg" alt="pedidos" />
                </div>
                <div class="form-check radio-btn">
                  <label class="form-check-label" for="btn-3">Pedidos anteriores</label>
                  <input class="form-check-input" type="radio" name="deliveryFilter" id="btn-3" />
                </div>
              </div>
            </li>
            <li class="mt-0">
              <div class="payment-detail">
                <div class="add-img">
                  <img class="img-fluid img" src="assets/images/svg/star.svg" alt="popular" />
                </div>
                <div class="form-check radio-btn">
                  <label class="form-check-label" for="btn-4">Más pedidos</label>
                  <input class="form-check-input" type="radio" name="deliveryFilter" id="btn-4" />
                </div>
              </div>
            </li>
          </ul>

          <section class="pt-0">
            <div class="amount-range">
              <div class="range">
                <label class="form-label">Monto mínimo</label>
                <output class="range-amount">$100</output>
              </div>
              <input
                type="range"
                id="min-order-amount"
                name="minOrderAmount"
                aria-label="Monto mínimo"
                value="100"
                min="0"
                max="500"
              />
            </div>
          </section>

          <section class="pt-0">
            <div class="amount-range">
              <div class="range">
                <label class="form-label">Distancia máxima</label>
                <output class="range-amount">2km</output>
              </div>
              <input
                type="range"
                id="location-distance"
                name="locationDistance"
                aria-label="Distancia máxima"
                value="2"
                min="0"
                max="10"
              />
            </div>
          </section>

          <section class="pt-0">
            <div class="order-options">
              <h3 class="mt-3 mb-3 dark-text fw-semibold">Tipo de pedido</h3>
              <div class="order-type">
                <div class="auth-form search-form">
                  <div class="form-check">
                    <label class="form-check-label" for="fixed1">A domicilio</label>
                    <input class="form-check-input" type="radio" name="orderType" id="fixed1" checked />
                  </div>
                </div>
                <div class="auth-form search-form">
                  <div class="form-check">
                    <label class="form-check-label" for="fixed2">Retirar en tienda</label>
                    <input class="form-check-input" type="radio" name="orderType" id="fixed2" />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="pt-0 section-lg-b-space">
            <div class="order-options">
              <h3 class="mb-3 dark-text fw-semibold">Preferencia de comida</h3>
              <div class="order-type">
                <div class="auth-form search-form">
                  <div class="form-check">
                    <label class="form-check-label" for="fixed3">Vegetariana</label>
                    <input class="form-check-input" type="radio" name="foodType" id="fixed3" />
                  </div>
                </div>
                <div class="auth-form search-form section-b-space">
                  <div class="form-check">
                    <label class="form-check-label" for="fixed4">Con proteína</label>
                    <input class="form-check-input" type="radio" name="foodType" id="fixed4" checked />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>

      <div class="footer-modal d-flex">
        <a href="#" class="btn btn-link btn-inline mt-0 w-50">Limpiar</a>
        <a href="#" class="theme-btn btn btn-inline mt-0 w-50">Aplicar</a>
      </div>
    </div>
  </div>
</div>
