<div class="modal fade location-modal" id="location" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="d-flex align-items-center">
        <div class="modal-title">
          <i class="ri-arrow-down-s-line"></i>
          <h2 class="fw-semibold">Elige tu ubicación</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
      </div>
      <section class="search-section pt-0">
        <div class="custom-container">
          <form class="auth-form search-head">
            <div class="form-group">
              <div class="form-input w-100">
                <label class="visually-hidden" for="location-search">Buscar ubicación</label>
                <input
                  type="search"
                  class="form-control search"
                  id="location-search"
                  name="locationSearch"
                  aria-label="Buscar zona, calle o referencia"
                  placeholder="Busca zona, calle o referencia"
                />
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
          </form>
        </div>
      </section>
      <div class="custom-container">
        <a href="#" class="current-location">
          <div class="current-address">
            <i class="ri-focus-3-line focus"></i>
            <div>
              <h4>Usar mi ubicación actual</h4>
              <h6>Caracas, Distrito Capital, Venezuela</h6>
            </div>
          </div>
          <i class="ri-arrow-right-s-line arrow"></i>
        </a>
        <h3 class="mt-3 fw-medium dark-text">Ubicaciones recientes</h3>
        <a href="#" class="recent-location">
          <div class="loation-icon text-center">
            <i class="ri-map-pin-line dark-text"></i>
          </div>
          <div class="recant-address">
            <h3>Chacao</h3>
            <h6>Av. Francisco de Miranda, Caracas</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
