<section class="panel-space"></section>

<div class="navbar-menu">
  <ul>
    <li [class.active]="active() === 'home'">
      <a routerLink="/" class="icon logo">
        <img class="img-fluid" [src]="'assets/images/svg/' + logo() + '.svg'" alt="logo" />
        <span>DalePues</span>
      </a>
    </li>
    <li [class.active]="active() === 'food'">
      <a routerLink="/food" class="icon">
        <img class="unactive" src="assets/images/svg/food.svg" alt="comida" />
        <img class="active" src="assets/images/svg/food-fill.svg" alt="comida" />
        <span>Comida</span>
      </a>
    </li>
    <li [class.active]="active() === 'grocery'">
      <a routerLink="/grocery" class="icon">
        <img class="unactive" src="assets/images/svg/grocery.svg" alt="mercado" />
        <img class="active" src="assets/images/svg/grocery-fill.svg" alt="mercado" />
        <span>Mercado</span>
      </a>
    </li>
    <li [class.active]="active() === 'pharmacy'">
      <a routerLink="/pharmacy" class="icon">
        <img class="unactive" src="assets/images/svg/pharmacy.svg" alt="farmacia" />
        <img class="active" src="assets/images/svg/pharmacy-fill.svg" alt="farmacia" />
        <span>Farmacia</span>
      </a>
    </li>
    <li [class.active]="active() === 'profile'">
      <a routerLink="/profile" class="icon">
        <img class="unactive" src="assets/images/svg/user.svg" alt="perfil" />
        <img class="active" src="assets/images/svg/user-fill.svg" alt="perfil" />
        <span>Perfil</span>
      </a>
    </li>
  </ul>
</div>
