<div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft">
  <div class="offcanvas-header">
    <img class="img-fluid profile-pic" src="assets/images/icons/profile.png" alt="profile" />
    <h3>Hello, Lina John</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="sidebar-content">
      <ul class="link-section">
        <li>
          <div class="pages">
            <h3>RTL</h3>
            <div class="switch-btn">
              <input id="dir-switch" name="directionSwitch" type="checkbox" aria-label="Toggle RTL layout" />
            </div>
          </div>
        </li>
        <li>
          <div class="pages">
            <h3>Dark</h3>
            <div class="switch-btn">
              <input id="dark-switch" name="darkSwitch" type="checkbox" aria-label="Toggle dark mode" />
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/" class="pages">
            <h3>Pages List</h3>
            <i class="ri-arrow-drop-right-line"></i>
          </a>
        </li>
        <li>
          <a routerLink="/profile" class="pages">
            <h3>Setting</h3>
            <i class="ri-arrow-drop-right-line"></i>
          </a>
        </li>
        <li>
          <a routerLink="/" class="pages">
            <h3>Logout</h3>
            <i class="ri-arrow-drop-right-line"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
